body{
  background: linear-gradient(to left,#2A8C82, #275950);
}

.calculadora {
  margin-top: 40px;
  border: solid 1px #ccc;
  padding: 20px;
  background-color: #13678A;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #c2c2c2;
}
      
.btn {
  width: 60px;
  height: 50px;
  margin: 5px;
  box-shadow: 1px 1px 1px #45C4B0;
}

.clear {
  width: 130px;
}

.enter {
  height: 110px;    
}

.zero {
  width: 130px;
}

.resultado {
  text-align: right;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 1px #cccc;
  box-shadow: 1px 1px 1px #ccc;
}